body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #0f08de;
}
main {
    padding:10px;
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: solid 1px #000000;
}
th, td {
    padding: 5px;
}
header {
    background-color: #ded2da;
    padding: 5px;
    border-bottom: 5px solid #a0969c;
}
footer {
    background-color: #ded2da;
    padding: 5px;
    border-top: 5px solid #a0969c;
    text-align: center;
}
.error {
    color: #ff0000;
}
.success {
    color: #00b600;
}
.right{
    float: right;
}

/* HANDLING LISTS & NAVIGATION */
ul {
    list-style-type: circle;
}

li {
    display: block;
    padding-bottom: 5px;
    padding-right: 10px;
}

nav li {
    display: inline;
}

nav ul {
    list-style-type: none;
}

nav a {
    padding: 5px;
}

nav a:link {
    color: #E6FFE1;
    background-color: #9099a2;
    text-decoration: none;
}
nav a:visited {
    color: #E6FFE1;
    background-color: #9099a2;
    text-decoration: none;
}
nav a:hover {
    color: #000000;
    background-color: #96858F;
}
nav a:active {
    color: #96858F;
    background-color: #000000;
}
